/* h1{
    background-color: red;
/* } */
 .classA{
    background-color: green;
} */
 #firstid{
    background-color: orange;
} 
#firstid{
    background-color: purple;
    background-color: pink;
}
h2{
    background-color: brown !important;
}
/* li{
    background-color: pink;
}  */
 /* h1{
    background-color: green !important;
 } */